nav {
    position: fixed;
    z-index: 10;
    width: 100vw;
    transition: .5s;
}

.navbar-custom {
    /* background-color: #0B1D26; */
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 2em;
    font-family: Chronicle;
    color: #fff;
}

.logo a:hover{
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    /* display: none; */
}

.nav-list li {
    list-style: none;
    padding: 0 1.5rem;
}

.nav-list li a {
    font-size: 1.25em;
    color: #fff;
}

.nav-list li a:hover{
    text-decoration: none;
}

.contact {
    background-color: var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: 20px;
    /* display: none; */
}

.contact a {
    font-family: Gilroy-Bold;
    color: #fff;
    font-weight: 900;
}

.contact a:hover{
    text-decoration: none;
}

.bars {
    display: none;
}

.bars span{
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.navigasi {
    position: fixed;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: .5s;
}

.logo-hidden {
    margin-bottom: 20px;
}

.logo-hidden a {
    font-size: 3em;
    font-family: Chronicle;
    color: #fff;
}

.nav-list-hidden {
    list-style: none;
}

.nav-list-hidden li {
    padding: 10px 0;
}

.nav-list-hidden li a {
    color: #fff;
    font-size: 2em;
}

.sosmed-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sosmed-hidden {
    margin-top: 1rem;
}

.sosmed-hidden li {
    list-style: none;
}

.sosmed-hidden li a {
    display: block;
    color: #fff;
    padding: 1rem;
    font-size: 1.5em;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.close span {
    color: #fff;
}

.contact-hidden {
    background-color: var(--secondary-color);
    border-radius: 50px;
}

.contact-hidden a {
    color: var(--primary-color);
    font-family: Gilroy-Bold;
    letter-spacing: 2px;
    display: block;
    padding: 10px 50px;
}