footer {
    background-color: var(--primary-color);
    padding: 3% 0;
}

.footer-bmcc h2 {
    color: #fff;
    font-family: Chronicle;
}

.footer-bmcc p {
    color: #fff;
    font-family: Gilroy-Bold;
    letter-spacing: 1px;
    line-height: 2;
}

.footer-list h3 {
    color: var(--secondary-color);
    font-family: Gilroy-Bold;
}

.footer-list ul {
    list-style: none;
}

.footer-list ul li {
    padding: 0.3rem 0;
}

.footer-list ul li a {
    color: #fff;
}

.copyright {
    color: rgb(255, 255, 255, 0.5);
}