/* .animateZeroOpacity {
    animation-name: zeroOpacity;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.animateTranslateLeft {
    animation-name: translateLeft;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.animateTranslateRight {
    animation-name: translateRight;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes zeroOpacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes translateLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes translateRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
} */

.kotak-bewarna .active-slide {
    display: flex;
    justify-content: center;
    opacity: 1;
}

/* 
    TODO: Animation
*/

.slide-left-hide {
    animation-name: slide-left-hide-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-right-hide {
    animation-name: slide-right-hide-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-left-show {
    animation-name: slide-left-show-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-right-show {
    animation-name: slide-right-show-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-left-hide-animation {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes slide-right-hide-animation {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes slide-left-show-animation {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-right-show-animation {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}