@import './merch-animation.css';

.merch {
    position: relative;
    /* height: 100vh; */
    background-color: var(--primary-color);
    padding: 5% 0;
}

.kotak-merch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.kotak-bewarna {
    width: 70%;
    position: relative;
    background: linear-gradient(208.18deg, var(--secondary-color) 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}

.merch-selection {
    display: none;
    opacity: 0;
}

.kotak-bewarna img {
    width: 60%;
    z-index: 5;
}

#merch-img, #leftText, #rightText {
    transition: all ease-in-out .5s;
}

.nama-merch-kanan {
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: #000000;
    opacity: 0.1;
    overflow: hidden;
}

.nama-merch-kiri {
    position: absolute;
    left: 5%;
    top: 10%;
    color: #000000;
    opacity: 0.1;
    overflow: hidden;
}

.nama-merch-kanan h5{
    font-family: Gilroy-Bold;
    font-size: 6em;
}

.nama-merch-kiri h5{
    font-family: Gilroy-Bold;
    font-size: 6em;
}

.titik-kanan {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -3vw;
    top: -2vw;
    opacity: 0.8;
    width: 15vw;
}

.titik-kiri {
    position: absolute;
    left: -3vw;
    bottom: -2vw;
    opacity: 0.8;
    width: 15vw;
}

.arrow-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-slide button {
    margin: 1rem 2rem;
    background-color: transparent;
    border: 0;
    color: var(--secondary-color);
    font-size: 2em;
}

.arrow-slide button:hover {
    color: rgb(251, 215, 132, 0.6);
}